<div class="container">
  <div class="row justify-content-center">
  <form class="form-group" [formGroup]="shiftForm" (ngSubmit)="save()">
    <div class="col-lg-12">
    <label>
      Dato:
      <br>
      <input type="date" class="form-control" formControlName="date">
    </label>
    </div>
    <div class="col-lg-12">
    <label>
      Starts tidspunkt:
      <br>
      <input type="date" class="form-control" formControlName="timeStart">
    </label>
    </div>
    <div class="col-lg-12">
    <label>
      Slut tidspunkt:
      <br>
      <input type="date" class="form-control" formControlName="timeEnd">
    </label>
    </div>
    <div class="col-lg-12">
    <label>
      Route:
      <br>
      <input type="text" class="form-control" formControlName="route">
    </label>
    </div>
    <div class="col-lg-12">
    <label>
      Active Route:
      <br>
      <input type="checkbox" class="form-control" formControlName="activeRoute">
    </label>
    </div>
    <div class="col-lg-12">
    <label>
      Bruger:
      <br>
      <input type="number" class="form-control" formControlName="user">
    </label>
    </div>
    <div>
      <button class="button" type="submit">Save</button>
    </div>

  </form>
  </div>
</div>
