<p>user-page!</p>

<ul class="PendingShift">
  <li *ngFor="let PendingShift of pShifts">

    <div class="card-body">
      <h5 class="card-title">{{PendingShift.shift.timeStart}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{PendingShift.shift.timeEnd}}</h6>
      <p class="card-te xt">en åben vagt .</p>
      <button type="button" ngbAutofocus class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)=setToChosen(PendingShift)>
        jeg kan tage den
      </button>

    </div>
  </li>
</ul>
