<div class="container-fluid containerBackground">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="text-center">Vagter</h1>
      <div class="card offset-2 col-8 mb-3 p-0 cardBackground text-white text-center" *ngFor="let shift of shifts">

        <div class="card-body" *ngIf="isCurrentUserOnShift(shift)">
          <h5 class="card-title m-1">{{shift.timeStart.toString().slice(0, 10)}}</h5>
          <h6 class="card-subtitle m-1 ">
            {{shift.route.name}}<br>
            {{shift.timeStart.toString().slice(11, 16)}} -
            {{shift.timeEnd.toString().slice(11, 16)}}
          </h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <!-- Delete this card-body and everything inside when users are available -->
        <div class="card-body" *ngIf="!isCurrentUserOnShift(shift)">
          <h5 class="card-title m-1">{{shift.timeStart.toString().slice(0, 10)}}</h5>
          <h6 class="card-subtitle m-1 ">
            {{shift.route.name}}<br>
            {{shift.timeStart.toString().slice(11, 16)}} -
            {{shift.timeEnd.toString().slice(11, 16)}}
          </h6>
          <p class="card-text"></p>
        </div>

      </div>

    </div>
    <div class="col-4">
      <h1 class="text-center">Ledige Vagter</h1>
      <div class="card offset-2 col-8 mb-3 p-0 cardBackground text-white text-center" *ngFor="let PendingShift of pShifts">

        <div class="card-body p-0" *ngIf="!isCurrentUserOnPendingShift(PendingShift)">
          <h5 class="card-title m-1">{{PendingShift.shift.timeStart.toString().slice(0, 10)}}</h5>
          <h6 class="card-subtitle m-1 ">
            {{PendingShift.shift.route.name}}:
            {{PendingShift.shift.timeStart.toString().slice(11, 16)}} -
            {{PendingShift.shift.timeEnd.toString().slice(11, 16)}}
          </h6>
          <p class="card-text m-1">Du har budt på denne vagt</p>
          <button type="button" class="btn buttonEBackground mt-1" data-toggle="button" aria-pressed="false" (click)=removeFromChosen(PendingShift)>
            Slet mig fra vagten
          </button>
        </div>

        <div class="card-body p-0" *ngIf="isCurrentUserOnPendingShift(PendingShift)">
          <h5 class="card-title m-1">{{PendingShift.shift.timeStart.toString().slice(0, 10)}}</h5>
          <h6 class="card-subtitle m-1">
            {{PendingShift.shift.route.name}}:
            {{PendingShift.shift.timeStart.toString().slice(11, 16)}} -
            {{PendingShift.shift.timeEnd.toString().slice(11, 16)}}
          </h6>
          <p class="card-text m-1">Du har ikke budt på denne vagt</p>
          <button type="button mt-1" class="btn buttonSBackground" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="setToChosen(PendingShift)">
            Tilføj mig til vagten
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
