<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Pending Shifts - {{chosenDate.toString().slice(0,10)}}</h1>
      <div class="card" style="width: 18rem;" *ngFor="let pShift of PShifts">
        <div class="card-body">
          <h5 class="card-title">{{pShift.shift.date.toString().slice(0,10)}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{pShift.shift.route.name}}</h6>
          <p class="card-text">
            Start: {{pShift.shift.timeStart.toString().slice(11,19)}}
            <br>
            End: {{pShift.shift.timeEnd.toString().slice(11,19)}}
          </p>
          <div *ngIf="pShift.users.length>0">
            <p *ngFor="let user of pShift.users">
              {{user.user.name}}
            </p>
          </div>
          <button routerLink="/shift-update/{{pShift.id}}" class="btn btn-primary float-left" >Update</button>
          <button class="btn btn-danger float-right" (click)="Delete(pShift)">Delete</button>
        </div>
      </div>
  </div>
  <div class="row justify-content-center">
    <button routerLink="/shift-create" class="btn btn-primary">Create Pending Shift</button>
  </div>
</div>
