<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Pending Shifts - {{chosenDate.toString().slice(0,10)}}</h1>
      <div class="card m-1 shiftCard"  *ngFor="let pShift of PShifts">
        <div class="card-body">
          <h5 class="card-title">{{pShift.shift.date.toString().slice(0,10)}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{pShift.shift.route.name}}</h6>
          <p class="card-text">
            Start: {{pShift.shift.timeStart.toString().slice(11,19)}}
            <br>
            End: {{pShift.shift.timeEnd.toString().slice(11,19)}}
          </p>
          <div *ngIf="pShift.shift.user === null && pShift.users.length > 0">
            <p>Antal bud på vagten: {{pShift.users.length}}</p>
          </div>
          <div *ngIf="pShift.shift.user != null">
            <p>{{pShift.shift.user.name}} har vagten</p>
          </div>
          <button routerLink="/shift-update/{{pShift.id}}" class="btn btn-primary float-left" >Update</button>
          <button *ngIf="pShift.shift.user === null && pShift.users.length > 0"
                  routerLink="/choose/{{pShift.id}}" class="btn btn-warning text-white ml-2" >Tildel</button>
          <button class="btn btn-danger float-right" (click)="Delete(pShift)">Delete</button>
        </div>
      </div>
  </div>
  <div class="row justify-content-center">
    <button routerLink="/shift-create" class="btn btn-primary">Create Pending Shift</button>
  </div>
</div>
