<div class="container">
  <div class="row justify-content-center">
    <h1>Alle mulige starttidspunkter</h1>
  </div>
  <div class="row justify-content-center">
    <button routerLink="/time-start-create" class="btn btn-primary col-3 createRouteButton p-1">Lav nyt starttidspunkt</button>
  </div>
  <div class="row mt-3">
    <div class="card col-2 ml-3 mr-3 mb-3 routeCards" *ngFor="let time of timeStarts">
      <div class="card-body p-0 pt-3 pb-3">
        <h5 class="card-title">{{time.timeStart}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id: {{time.id}}</h6>
        <button routerLink="/time-start-update/{{time.id}}" class="btn btn-primary  mr-1">Update</button>
        <button class="btn btn-danger" (click)="delete(time.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
