<div class="container">
  <form [formGroup]="shiftForm" (ngSubmit)="save()">

    <div class="form-group">
      <label>Dato: {{currentDate.toString().slice(0, 15)}}</label>
      <input type="date" class="form-control" formControlName="date">
    </div>

    <div class="form-group">
      <label>Start tidspunkt</label>
      <input type="date" class="form-control" formControlName="timeStart">
    </div>

    <div class="form-group">
      <label>Slut tidspunkt</label>
      <input type="date" class="form-control" formControlName="timeEnd">
    </div>

    <div class="form-group">
      <label>Route</label>
      <input type="text" class="form-control" formControlName="route">
    </div>

    <div class="form-group">
      <label>Active Route</label>
      <input type="checkbox" class="form-control" formControlName="activeRoute">
    </div>

    <div class="form-group">
      <label>Bruger</label>
      <input type="number" class="form-control" formControlName="user">
    </div>

    <div class="for m-group">
      <button class="button" type="submit">Save</button>
    </div>

  </form>
</div>

