<div class="container">
  <form [formGroup]="shiftForm" (ngSubmit)="save()">

    <div class="form-group">
      <label>Dato</label>
      <input type="date" class="form-control" formControlName="date">
    </div>

    <div class="form-group">
      <label>Start tid</label>
      <select class="custom-select" (change)="changeStart($event)" formControlName="timeStart">
        <option value="" disabled>Vælg vagtens start tid</option>
        <option *ngFor="let start of startTimes" [ngValue]="start.timeStart">{{start.timeStart}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Slut tid</label>
      <select class="custom-select" (change)="changeEnd($event)" formControlName="timeEnd">
        <option value="" disabled>Vælg vagtens slut tid</option>
        <option *ngFor="let end of endTimes" [ngValue]="end.timeEnd">{{end.timeEnd}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Route</label>
      <select class="custom-select" (change)="changeRoute($event)" formControlName="route">
        <option value="" disabled>Vælg route</option>
        <option *ngFor="let route of ActiveRoutes" [ngValue]="route.name">{{route.name}}</option>
      </select>
    </div>

    <div class="for m-group">
      <button class="button" type="submit">Save</button>
    </div>

  </form>
</div>

