<nav>
  <div class="">
    <ul class="nav nav-pills nav-tabs space">
      <img src="https://cache.nichehuset.dk/annoncer/jobannoncer/images/annoncoerer/logoer/519/676.png" class="rounded-left float-left logoimage">
    <li class="nav-item">
      <a class="nav-link " a routerLink="shift-overview"  >Kalender</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " a routerLink="user"  >Brugere</a>
    </li>
    <li class="nav-item">
    <li>
      <a class="nav-link  " a routerLink="login"  >login</a>

    </li>


        <img src="{{cUser.profilePicture}}" class="rounded float-right profileimage">
      <a class="nav-link disabled" >{{cUser.name}}</a>
      <a class="nav-link disabled" >{{cUser.email}}</a>

    </ul>
  </div>
</nav>

