<div class="container">
  <div class="row justify-content-center topMargin">
    <h3>
      Administrator værktøjer
    </h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <button routerLink="/user-overview" class="btn adminButtons">
        Manage Brugere
      </button>
    </div>
    <div class="col-4">
      <button routerLink="/route-overview" class="btn adminButtons">
        Manage Ruter
      </button>
    </div>
    <div class="col-4">
      <button routerLink="/time-start-overview" class="btn adminButtons">
        Manage Starttidspunkter
      </button>
    </div>
    <div class="col-4">
      <button routerLink="/time-end-overview" class="btn adminButtons">
        Manage Sluttidspunkter
      </button>
    </div>
    <div class="col-4">
      <button routerLink="/group-overview" class="btn adminButtons">
        Manage Grupper
      </button>
    </div>
  </div>
</div>
