.card:hover {
  background: rgba(174,253,255,0.7);
}

.calendar-header {
  background: rgb(0, 122, 184);
  color: #ffffff;
}

.calendar-body {
  border: rgb(0, 122, 184) 2px solid;
}

.calendar-button {
  height: fit-content;
  background: white !important;
  border: white solid 2px !important;
  color: rgb(0, 122, 184);
  font-weight: bold !important;
}

.card {
  min-width: 14.285% !important;
  max-width: 14.285% !important;
  min-height: 160px !important;
  max-height: 160px !important;
}

.card-body {
  min-width: 100% !important;
  max-width: 100% !important;
}

.currentDate {
  border: #0080ff solid 2px;
}

.datesOutsideMonth {
  background: rgba(172,175,174,0.1);
  color: #bebebe;
}

.emptyShift {
  background: #ff0000;
  border: white solid 1px;
}

.UsersOnPShift {
  background: #ffff00;
  border: white solid 1px;
}

.UserOnShift {
  background: #00ff00;
  border: white solid 1px;
}
